*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header{

    /* texto */
    text-transform: uppercase; /* mayusculas */
    font-size: 2em;/* igual a xx-large */
    letter-spacing: -3px; /* reduce o da espacio entre letras / la misma funcion pero con palabras es word-spacing */
    text-shadow: -2px 3px 8px black; /* sombra de texto: px (horizontal) px (vertical) px (blur o difuminado) color de sombra */
    
    /* caja del elemento */
    width: 85%;/* ancho */
    height: 100px;/* alto */
    background-color: rgb(39, 141, 155);
    margin-left: auto;
    margin-right: auto; /* estos margenes auto hacen que el header se posicione en el centro */
    padding: 1%; /* relleno DE LA CAJA, si aumento no es padding del contenido (texto) */
}

header a{/* para quitar formato a enlace */
    text-decoration: none;
}

